	p{
		font-family:'Times New Roman' Times serif;
		font-style: normal;
		color: lime;
		font-size: 1.5em;
	}
	
	div {
		font-family: Arial Helvetica; 
		font-weight: bold;
		font-style: oblique;
		color: orangered;
		font-size: 3em;
	}